.profile-circular {
   background-image: url('../images/profile.jpg');
   background-size: cover;
   border: 3px white solid;
   border-radius: 64px;
   -webkit-border-radius: 64px;
   -moz-border-radius: 64px;
   display: block;
   height: 128px;
   margin-left: 290px;
   margin-top: -10px;
   position: absolute;
   width: 128px;
   z-index: 5;
}

.project-name,
.project-name:hover {
   color: inherit;
}

