.profile-circular {
   background-image: url('../images/profile.jpg');
   background-size: cover;
   border: 3px white solid;
   border-radius: 5vw;
   -webkit-border-radius: 5vw;
   -moz-border-radius: 5vw;
   display: block;
   height: 10vw;
   margin-left: 22vw;
   margin-top: -3vh;
   position: absolute;
   width: 10vw;
   z-index: 5;
}
